<div id="<%= dom_id score %>">
  <p>
    <strong>User:</strong>
    <%= score.user_id %>
  </p>

  <p>
    <strong>Commodity:</strong>
    <%= score.commodity_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= score.score %>
  </p>

</div>
